body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

button {
  padding: 10px;
  background: red;
  color: white;
  border: none;
  margin-top: 10px;
}

video {
  width: 100%;
  margin-top: 10px;
}